In [266]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
pd.set_option("display.precision", 2)
# Используем библиотеку Seaborn 
import seaborn as sns
sns.set()

In [267]:
data = pd.read_csv('data/titanic_train.csv',
                  index_col='PassengerId')

In [268]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [269]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

In [270]:
data['Fare'] = data['Fare'].astype('float')

In [253]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None

In [271]:
data['Age'].max()

80.0

In [272]:
class_23 = data[data["Pclass"].isin([2])]
class_23.shape

(184, 11)

### 1. Сколько мужчин / женщин было на борту?

In [273]:
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

### 2. Определите распределение функции Pclass. Теперь Для мужчин и женщин отдельно. Сколько людей из второго класса было на борту?

In [274]:
print(data['Pclass'].describe())
print()
men = data[data['Sex'] == 'male']
woman = data[data['Sex'] == 'female']

print(men['Pclass'].describe())
print()
print(woman['Pclass'].describe())



data[data['Pclass'] == 2]['Pclass'].value_counts()

count    891.00
mean       2.31
std        0.84
min        1.00
25%        2.00
50%        3.00
75%        3.00
max        3.00
Name: Pclass, dtype: float64

count    577.00
mean       2.39
std        0.81
min        1.00
25%        2.00
50%        3.00
75%        3.00
max        3.00
Name: Pclass, dtype: float64

count    314.00
mean       2.16
std        0.86
min        1.00
25%        1.00
50%        2.00
75%        3.00
max        3.00
Name: Pclass, dtype: float64

2    184
Name: Pclass, dtype: int64

### 3. Каковы медиана и стандартное отклонениеFare?. Округлите до 2-х знаков после запятой.

In [275]:
print('Медиана ->' + '{:.2f}'.format(data['Fare'].median()) + " стандартное отклонение ->"+ '{:.2f}'.format(data['Fare'].std()))

Медиана ->14.45 стандартное отклонение ->49.69

### 4. Правда ли, что средний возраст выживших людей выше, чем у пассажиров, которые в конечном итоге умерли?

In [276]:
surv = data[data['Survived'] == 1]
nsurv = data[data['Survived'] == 0]
print('Средний возраст выживших {:.2f}'.format(surv["Age"].mean()))
print('Средний возраст погибших {:.2f}'.format(nsurv["Age"].mean()))

Средний возраст выживших 28.34
Средний возраст погибших 30.63

### 5. Это правда, что пассажиры моложе 30 лет. выжили чаще, чем те, кому больше 60 лет. Каковы доли выживших людей среди молодых и пожилых людей?

In [277]:
young = data[data['Age'] < 30]
old = data[data['Age'] > 60]
print('Доля выживших среди молодых {:.1f} %'.format(young['Survived'].mean() * 100))
print('Доля выживших среди пожилых {:.1f} %'.format(old['Survived'].mean() * 100))

Доля выживших среди молодых 40.6 %
Доля выживших среди пожилых 22.7 %

### 6. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших людей среди мужчин и женщин?

In [278]:
men = data[data['Sex'] == 'male']
woman = data[data['Sex'] == 'female']
print('Доля выживших среди мужчин {:.1f} %'.format(men['Survived'].mean() * 100))
print('Доля выживших среди женщин {:.1f} %'.format(woman['Survived'].mean() * 100))

Доля выживших среди мужчин 18.9 %
Доля выживших среди женщин 74.2 %

### 7. Какое имя наиболее популярно среди пассажиров мужского пола?

In [360]:
men = data[data['Sex'] == 'male']
men["Name"].str.split(" ").str.get(2).describe()

count         577
unique        281
top       William
freq           35
Name: Name, dtype: object

### 8. Как средний возраст мужчин / женщин зависит от Pclass? Выберите все правильные утверждения: 
В среднем мужчины 1 класса старше 40 лет

В среднем женщины 1 класса старше 40 лет

Мужчины всех классов в среднем старше, чем женщины того же класса

В среднем, пассажиры первого класса старше, чем пассажиры 2-го класса, которые старше, чем пассажиры 3-го класса.

In [412]:
fClass =  data[data['Pclass'] == 1]
sClass = data[data['Pclass'] == 2]
tClass = data[data['Pclass'] == 3]

print( '{:.2f}'.format(fClass["Age"].mean()))
print(fClass.groupby('Sex')["Age"].mean())
print()
print( '{:.2f}'.format(sClass["Age"].mean()))
print(sClass.groupby('Sex')["Age"].mean())
print()
print( '{:.2f}'.format(tClass["Age"].mean()))
print(tClass.groupby('Sex')["Age"].mean())

38.23
Sex
female    34.61
male      41.28
Name: Age, dtype: float64

29.88
Sex
female    28.72
male      30.74
Name: Age, dtype: float64

25.14
Sex
female    21.75
male      26.51
Name: Age, dtype: float64